@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;

}

.container 
{
  max-width: 1200px;
  margin: auto;
}

.background {
    background-color: rgb(116, 198, 157);
}
header {
 
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
padding-top: 25px;
}
ul {
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}
li {
  text-decoration: none;
}

h2 {
  font-size: 23px;
  color: #fff;
}
p {
  padding-top: 10px;
  font-size: 40px;
  color: #fff;
  line-height: 55px;
}
.text {
  line-height: 25px;
  font-size: medium;
  padding-top: 30px;
}

.second{
    padding-bottom: 70px;
}


.hero_container {
    display: flex;
    align-items: center;
}
button {
padding: 10px 20px;
  margin-top: 30px;
  border: 1px solid white;
  margin-bottom: 80px;
}

.second_row {

  margin-top: 40px;
  text-align: center;

}
h3{
    font-family: "Work Sans", sans-serif;
   color: rgb(116, 198, 157);
   letter-spacing: 5px;
}
.under_partner {
  color: black;
}
.under_under_partner {
  color: black;
  line-height: 80px;
  max-width: 411px;
  margin: auto;
  line-height: 125%;
  font-size: 20px;
}
.img_2 {
  padding-top: 55px;
  gap: 68px;
}

.but_2 {
  background-color:rgb(33, 37, 41);
  color: white;
  font-size: 30px;
  padding: 13px 29.5px 10px 29.5px;

}
a{
  text-decoration: none;
}


.third_container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.three_p{
    max-width: 630px;

}

.third_row{
color: rgb(33, 37, 41);
}

.third_text2{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
color: rgba(33, 37, 41, 0.5);
font-size: 15px;
line-height: 125%;
}
.third_text{
    font-family: Crimson Text;
    color: rgb(33, 37, 41);
    font-size: 40px;
    padding-top: 88px;
    font-weight: 700;
    line-height: 125%;
}

.learn_more{
    padding:   13px  29.5px 10px 29.5px ;
    background-color: rgb(33, 37, 41);
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    font-family: "Work Sans", sans-serif;
}

.four_row{
  display: flex;
 
  justify-content: center;
  align-items: center;
  
}

.four_text{

  font-family: Crimson Text;
  color: rgb(33, 37, 41);
  font-size: 40px;
  font-weight: 700;
  line-height: 125%;
}
.four_text2{
  font-family: "Work Sans", sans-serif;
    font-weight: 400;
color: rgba(33, 37, 41, 0.5);
font-size: 15px;
line-height: 125%;
padding-top: 16px;
width: 470px;
}
.fourth_t{
  color: rgb(33, 37, 41);
}

.four_picture
{
  padding: -3.37px 119px 110px 720px;
max-width: 600px;
}

.learn_more2
{
  background-color: rgb(33, 37, 41);
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;


}

.our_team{
  /* Typography / Label / Bold */
color: rgb(116, 198, 157);
font-family: Work Sans, sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 125%;
letter-spacing: 5px;
text-align: center;
text-transform: uppercase;
margin-top: 62px;
}
.talents{
  color: rgb(33, 37, 41);
  font-weight: 700;
  font-size: 40px;
  line-height: 125px;
  
}

.container__5th{
  text-align: center;
  padding: 2px, 0px, 0px, 0px

}

.last_p{
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-family: "Work Sans", sans-serif;
  padding-bottom: 45px;
}

.view_t{
  background-color: rgb(33, 37, 41);
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
}

.Last_row{
  display: flex;
  justify-content: center;
  color: rgb(116, 198, 157);
  margin-top: 51px;
max-width: 1440px;
margin-bottom: 100px;
}

.last_pic{
  padding: 51px 131px 49px 131px;
  background-color: rgb(116, 198, 157);
  margin: auto;
}

.menu{
  display: none;
}

.icons{
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  gap: 69px;
}

.three_p{
  width: 470px;
}

.third_row{
  display: flex;
  gap: 110px;
}

.fourth_row_2{
  display: flex;
  align-items: center;
  gap: 110px;
}

.fourth_t{
  width: 470px;
}

.four_picture{
  width: 600px;
}

.fifth_text{
  text-align: center;
  padding-top: 16px;
}

.our_team{

}

.last_r{

width: 1178px;
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 51px;
padding-bottom: 49px;
}

.content{
  /* Typography/Sub-Heading/Regular */
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 400;
line-height: 125%;
letter-spacing: 0px;
white-space: nowrap;

}

.background_2{
  background-color: rgb(116, 198, 157);

}

.box_ic{
display: flex;
gap: 20px;
  align-items: center;
}








@media (max-width:375px)
 {
  
.start{
  width: 129px;
}
ul{
  display: none;
}

.menu{
  display: block;
}

.hero_container{
  flex-direction: column-reverse;
  padding-top: 32px;
}

.ok{
  width: 335px;
}

.container{
 padding: 20px;
}

.text_2{
  font-size: 24px;
}

.hero_container{
  padding-bottom: 40px;
}

.under_partner{
  font-size: 28px;
}

.icons{
  flex-direction: column;
}

.third_row{
  flex-direction: column;
  width: 335px;
  
}

.thir_row{
  width: 334px;
  padding-left: 0;
}

.fourth_row_2{
  flex-direction: column-reverse;
}
.four_text2{
  width: 334px;

}
.fourth_t{
  width: 334px;

}

.four_picture{
  width: 334px;

}

.view_t{
  margin-top: 45px;
  margin-left: 50px;
}

.last_r
{
  flex-direction: column;
width: 375px;
gap: 20px;
}




}